.house__header {
    width: 100%;
    height: 170px;
    object-fit: cover;
    background-color: #2c3e50;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.house__header_content {
    width: 100%;
    height: 150px;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search__area {
    width: 50%;
    margin-left: 10%;
}

#search-input {
    width: 80%;
    height: 40px;
    padding-left: 20px;
    border-radius: 50px 0 0 50px;
    border: none;
    box-shadow: 5px 5px 5px black;
    font-weight: bold;
    background: linear-gradient(lightgrey, whitesmoke, lightgrey);
    color: #2c3e50;
}

#search-input:hover {
    box-shadow: 5px 5px 5px #2c3e50;
    transition-duration: 0.2s;
}

.search__button {
    width: 20%;
    height: 40px;
    border-radius: 0 50px 50px 0;
    border: none;
    box-shadow: 5px 5px 5px black;
    font-weight: bold;
    background: linear-gradient(#ff0e0e, #ba0101, #ff0e0e);
    text-transform: uppercase;
    color: whitesmoke;
}

.search__button:hover {
    color: black;
    box-shadow: 5px 5px 5px #2c3e50;
    cursor: pointer;
    transition-duration: 0.2s;
}

.add {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 20px;
    background-color: #ba0101;
    transition: all .2s;
    box-shadow: 3px 3px 3px black;
}

.add:hover {
    background-color: #1c82ec;
}

main {
    width: 100%;
    overflow: hidden;
}

.product__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto;
}

.product__content_row {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.product__sort_area {
    width: 98%;
    height: 30px;
    background: linear-gradient(#2c3e50, #1a2834, #2c3e50);
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
}

.product__length {
    width: 10%;
    word-break: keep-all;
    padding-left: 8px;
}

.product__item_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.filter_container {
    width: 22%;
    background: #7792a5;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: black;
    border-radius: 5px;
    border: 1px solid #1a2834;
}

.filter_container hr {
    width: 100%;
    border-color: rgba(26, 40, 52, 0.35);
}

.filter_container .MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.8);
}

.filter_container .MuiSelect-icon,
.filter_container .MuiFormLabel-root {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 5px;
}

.filter_container .MuiInputBase-root {
    color: rgba(0, 0, 0, 0.8);
}

.filter__price_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter__floor_block {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter__area_label {
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.8);
}

.filter__area_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
